$primary-color: #81b300;
$second-color: #454545;
$border-color: #cccccc;
$font-family: Georgia, Times, "Times New Roman", serif;
$base-font-size: 14px;
$base-font-weight: 400;
$shadow-color: #e2e2e2;
$title-color: #121212;
$background: #eee;
$background-header-footer: #1f1f1f;
$white-color: #ffffff;
$footer-color: #a8a8a8;
